doctype html
html
  head
    title Dashboard - CodeBuddy
    include layout/header.pug
    script(type='text/javascript').
      $(document).on("click", ".show", function () {
      $(".ui.modal").modal("setting", {
      closable: false,
      onApprove: function () {
      return false;
      }
      }).modal("show");
      }).on("click", ".ui.button", function () {
      switch ($(this).data("value")) {
      case 'easy':
      $("#result").html("easy");
      $(".ui.modal").modal("hide");
      break;
      case 'normal':
      $("#result").html("normal");
      $(".ui.modal").modal("hide");
      break;
      case 'hard':
      $("#result").html("hard");
      $(".ui.modal").modal("hide");
      break;
      }
      });
    style#extension_grayscale(type='text/css').
      html *,
      * {
      filter: initial !important;
      }
  body
    include layout/menu.pug
    .ui.small.modal
      i.close.icon
      .header Create New Project
      .content
        //- .ui.negative.message
        //-   i.close.icon
        //-   .header Error Project Name Invalid !
        //-   p Lorem ipsum
        form.ui.form(action='/project', method='POST')
          .field
            label Project Name :
            |  
            input(type='text', name='pName', placeholder='Your Project Name')
          .field
            label Description :
            |  
            input(type='text', name='pDescription', placeholder='Something about your project')
          .field
            label Language :
            select.ui.dropdown(name='pLanguage')
               option(value='0') Python
          .field
            label Buddy ID :
            |  
            input(type='text', name='pBuddyUsername', placeholder='Your buddy')
          .field
            label Time  :
            select.ui.dropdown(name='pLanguage')
               option(value='15') 15 minutes (Recommended)
               option(value='10') 10 minutes
               option(value='5') 5 minutes
          .ui.form
            .inline.fields
              .fields
                label(for='fruit') Select your theme:
                .field
                  .radio.checkbox
                    input.hidden(type='radio', name='theme', checked='', tabindex='0')
                    |  
                    label White (default)
                    img.logo.small(src='images/whiteEditorTheme.PNG' ,width='80%', height='80%')
                .field
                  .radio.checkbox
                    input.hidden(type='radio', name='theme', tabindex='0')
                    |  
                    label Blackboard
                    img.logo.small(src='images/darkEditorTheme.PNG' ,width='80%',height='80%')

          .ui.basic.center.aligned.segment()
            .actions
              button.ui.button.approve.green(type='submit') Create
              .ui.button.approve.red(data-value='cancel') Cancel
    .ui.raised.very.padded.text.container.segment
      .ui.two.column.doubling.stackable.grid.container
        .column
          h1.ui.header My Projects
        .right.column
          a.right
            button#new.ui.button.approve.green.show(style='float: right;') Create New Project
      br
      .ui.items
        each project in projects
          if project.creator === user.username
              .item
                a.ui.tiny.image
                  img(src='https://cdn0.iconfinder.com/data/icons/pokemon-go-vol-2/135/_Pokemon_Egg-128.png')
                .content
                  .ui.grid
                    .eight.wide.column
                      b
                        a.header(href='/project?pid='+project.pid)= project.title
                      .description= project.description
                    .eight.wide.column
                      .ui.right.floated.primary.button
                        | Setting
                        i.right.chevron.icon
                    p
                      | Update x mins ago (
                      a(href='/profile/'+project.collaborator )
                      | @
                      = project.collaborator
                      |)                
          else if project.collaborator === user.username
            .item
              a.ui.yellow.image.label.middle.aligned
                img(src='https://semantic-ui.com/images/avatar/small/elliot.jpg')
                .detail.middle Co-Worker
              .content
                a.header(href='/project?pid='+project.pid)= project.title
                |
                .description= project.description
                | Update x mins ago (
                a(href='/profile/'+project.creator)
                  | @
                  = project.creator
                |)
    include layout/footer.pug
