doctype html
html
  head
    include layout/header.pug
  body
    include layout/menu.pug
    .ui.raised.very.padded.text.container.segment
      h1.ui.header Edit your profile
      p Edit your profile in the form below
      form.ui.form
        h4.ui.dividing.header Access information
        .field
          label Username
          |  
          input(type='text', name='user-name', placeholder='joe', disabled='true')
        .field
          label Password
          |  
          input(type='password', name='password')
        .field
          label E-mail
          |  
          input(type='email', name='email', placeholder='joe@schmoe.com')
        h4.ui.dividing.header Personal information
        .field
          label First Name
          |  
          input(type='text', name='first-name', placeholder='First Name')
        .field
          label Last Name
          |  
          input(type='text', name='last-name', placeholder='Last Name')
        .field
          label Occupation
          |  
          input(type='text', name='occupation', placeholder='occupation')
        .field
          label Gender
          .field
            .ui.radio.checkbox
              input(type='radio', name='gender', value='male')
              |  
              label Male
          .field
            .ui.radio.checkbox
              input(type='radio', name='gender', value='female')
              |  
              label Female
        .field
          .ui.checkbox
            input.hidden(type='checkbox', tabindex='0')
            |  
            label I agree to the Terms and Conditions
        |  
        button.ui.button(type='submit') Register
    include layout/footer.pug
