doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0')
    title Edit Profile - CodeBuddy
    link(rel='stylesheet', type='text/css', href='semantic/dist/semantic.min.css')
    style(type='text/css').
      body {
      background-color: #FFFFFF;
      }
      .ui.menu .item img.logo {
      margin-right: 1.5em;
      }
      .main.container {
      margin-top: 7em;
      }
      .wireframe {
      margin-top: 2em;
      }
      .ui.footer.segment {
      margin: 5em 0em 0em;
      padding: 5em 0em;
      }
    style#extension_grayscale(type='text/css').
      html *,
      * {
      filter: initial !important;
      }
  body
    .ui.attached.stackable.menu
      .ui.container
        img.logo.large(src='images/logo-codebuddy-s.png')
        a.item
          i.home.icon
          |  Home
        a.item
          i.grid.layout.icon
          |  Projects
        a.item
          i.mail.icon
          |  Messages
          .ui.red.horizontal.label 1
        .ui.simple.dropdown.right.item
          i.user.icon
          |  Kittikorn Prasertsak
          i.dropdown.icon
          .menu
            a.item
              i.edit.icon
              |  Edit Profile
            a.item
              i.calendar.icon
              |  History
            a.item
              i.sign.out.icon
              |  Sign Out
    .ui.raised.very.padded.text.container.segment
      h1.ui.header Edit your profile
      p Edit your profile in the form below
      form.ui.form
        h4.ui.dividing.header Access information
        .field
          label Username
          |  
          input(type='text', name='user-name', placeholder='joe', disabled='true')
        .field
          label Password
          |  
          input(type='password', name='password')
        .field
          label E-mail
          |  
          input(type='email', name='email', placeholder='joe@schmoe.com')
        h4.ui.dividing.header Personal information
        .field
          label First Name
          |  
          input(type='text', name='first-name', placeholder='First Name')
        .field
          label Last Name
          |  
          input(type='text', name='last-name', placeholder='Last Name')
        .field
          label Occupation
          |  
          input(type='text', name='occupation', placeholder='occupation')
        .field
          label Gender
          .field
            .ui.radio.checkbox
              input(type='radio', name='gender', value='male')
              |  
              label Male
          .field
            .ui.radio.checkbox
              input(type='radio', name='gender', value='female')
              |  
              label Female
        .field
          .ui.checkbox
            input.hidden(type='checkbox', tabindex='0')
            |  
            label I agree to the Terms and Conditions
        |  
        button.ui.button(type='submit') Register
    .ui.inverted.vertical.footer.segment
      .ui.center.aligned.container
        img.ui.centered.small.image(src='images/logo-white-s.png')
        .ui.horizontal.inverted.small.divided.link.list
          a.item(href='#') How it worked?
          |  
          a.item(href='#') Contact Us
          |  
          a.item(href='#') About Us
