doctype html
html
  body
    head
      meta(charset='utf-8')
      meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
      meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0')
      title Code Buddy - Online Pair Programming System
      link(rel='stylesheet', type='text/css', href='/semantic/dist/semantic.min.css')
      script(src='/js/static/jquery.min.js')
      script(src='/semantic/dist/semantic.min.js')
      link(rel='stylesheet', type='text/css', href='/stylesheets/style.css')
    .ui.large.top.fixed.hidden.menu
      .ui.container
        img.logo.small(src='images/logo-codebuddy-s.png')
        .right.menu
          .item
            a.ui.button(href='/signin') Sign In
          .item
            a.ui.primary.button(href='/register') Register
    .ui.vertical.inverted.sidebar.menu
      a.item Sign In
      a.item Register
    .pusher
      .ui.inverted.vertical.masthead.center.aligned.segment
        .ui.container
          .ui.large.secondary.inverted.pointing.menu
            a.toc.item
              i.sidebar.icon
            img.logo.large(src='/images/logo-white-s.png')
            .right.item
              a.ui.inverted.button(href='/signin') Sign In
              a.ui.inverted.button(href='/register') Register
        .ui.text.container
          h1.ui.inverted.header Online Pair Programming System
          h2 Do whatever you want when you want to.
          //- a.ui.huge.primary.button.newProject
          //-   | Get Started
          //-   i.right.arrow.icon
      .ui.vertical.stripe.quote.segment
        .ui.equal.width.stackable.internally.celled.grid
          .center.aligned.row
            .column
              h5 "Pairs spend about 15% more time on programs than individuals.However, the resulting code has about 15% fewer defects"
              p That is what they all say about us
            .column
              h5 "Pairs typically consider more design alternatives than programmers working alone, and arrive at simpler, more maintainable designs; they also catch design defects early"
              p
                b Nan
                |  Chief Fun Officer Acme Toys
      .ui.inverted.vertical.footer.segment(style='background: #1B1C1D')
        .ui.center.aligned.container
          img.ui.centered.small.image(src='images/logo-white-s.png')
          .ui.horizontal.inverted.small.divided.link.list
              | Faculty of Information Technology | King Mongkut's Institute of Technology Ladkrabang
    script(src='/js/static/jquery.min.js')
    script(src='/semantic/dist/semantic.min.js')
    script(src='/semantic/dist/components/visibility.js')
    script(src='/semantic/dist/components/sidebar.js')
    script(src='/semantic/dist/components/transition.js')
    script(src='/js/app/index.js')
