doctype html
html
  head
    include layout/header.pug
    script(type='text/javascript').
      webgazer.setGazeListener(function (data, elapsedTime) {
        if (data == null) {
          return;
        }
        var xprediction = data.x; //these x coordinates are relative to the viewport
        var yprediction = data.y; //these y coordinates are relative to the viewport
        console.log(elapsedTime); //elapsed time is based on time since begin was called
      }).begin();
      var prediction = webgazer.getCurrentPrediction();
      if (prediction) {
        var x = prediction.x;
        var y = prediction.y;
      }
    style(type='text/css').
      body {
      background-color: #FFFFFF;
      }
      .ui.menu .item img.logo {
      margin-right: 1.5em;
      }
      .main.container {
      margin-top: 7em;
      }
      .wireframe {
      margin-top: 2em;
      }
      .ui.footer.segment {
      margin: 5em 0em 0em;
      padding: 5em 0em;
      }
    style#extension_grayscale(type='text/css').
      html *,
      * {
      filter: initial !important;
      }
    script.
      var editor = CodeMirror.fromTextArea(myTextarea, {
      lineNumbers: true
      });
    script(src='codemirror/codemirror.js')
    link(rel='stylesheet', href='codemirror/codemirror.css')
    script(src='codemirror/javascript.js')
    script(src='codemirror/python.js')

    style#extension_grayscale(type='text/css').
      html *,
      * {
      filter: initial !important;
      }
  body
    include layout/menu.pug
    .ui.small.modal
      i.close.icon
      .header Create New Project
      .content
        //- .ui.negative.message
        //-   i.close.icon
        //-   .header Error Project Name Invalid !
        //-   p Lorem ipsum
        form.ui.form(action='/project', method='POST')
          .field
            label Project Name :
            |  
            input(type='text', name='pName', placeholder='Your Project Name')
          .field
            label Description :
            |  
            input(type='text', name='pDescription', placeholder='Something about your project')
          .field
            label Language :
            select.ui.dropdown(name='pLanguage')
               option(value='0') Python
          .field
            label Buddy ID :
            |  
            input(type='text', name='pBuddyUsername', placeholder='Your buddy')
          .ui.basic.center.aligned.segment()
            .actions
              button.ui.button.approve.green(type='submit') Create
              .ui.button.approve.red(data-value='cancel') Cancel
    .ui.container.segment
      .ui.grid
        .four.wide.column
          h1.ui.header Project Name
          p Project Description
        .seven.wide.column
          center
            | Time
            h3
              #time 10.00
        .five.wide.column.right
          center
            button.ui.primary.labeled.icon.button
              i.refresh.icon
              |  Switch Role
            |  
            button.ui.positive.labeled.icon.button.show
              i.terminal.icon
              |  Run
      .ui.divider
      br
      .ui.grid
        .four.wide.column
          .ui.top.attached.tabular.menu
            a.active.item Project
            |  
            a.item Team Information
            .right.menu
              .item
          .ui.bottom.attached.segment
            p
              .ui.list
                .item
                  i.folder.icon
                  .content
                    .header src
                    .description Source files for project
                    .list
                      .item
                        i.file.icon
                        .content
                          .header main.py
                          .description Main python file
                .item
                  i.folder.icon
                  .content
                    .header test
                    .description Unit testing files
                    .list
                      .item
                        i.folder.icon
                        .content
                          .header test_main.py
                          .description Unit testing for test_main
                .item
                  i.file.icon
                  .content
                    .header project_information.json
                    .description Project information
        .twelve.wide.column.right
          .ui.form
              textarea#demotext
                |  print(&quot;Total score for %s is %s &quot; % (name, score))
              script.
                var editor = CodeMirror.fromTextArea(document.getElementById("demotext"), {
                mode: {name: "python",
                version: 3,
                singleLineStringErrors: false},
                lineNumbers: true,
                indentUnit: 4,
                matchBrackets: true
               });

               editor.on('contextmenu', function() {
                var A1 = editor.getCursor().line;
                var A2 = editor.getCursor().ch;
                var B1 = editor.findWordAt({line: A1, ch: A2}).anchor.ch;
                var B2 = editor.findWordAt({line: A1, ch: A2}).head.ch;
                
                alert(A1);
               });  

                editor.on('contextmenu', function() {
                $(".ui.modal").modal("setting", {
                closable: false,
                onApprove: function () {
                return false;
                }
                }).modal("show");
                }).on("click", ".ui.button", function () {
                switch ($(this).data("value")) {
                case 'easy':
                $("#result").html("easy");
                $(".ui.modal").modal("hide");
                break;
                case 'normal':
                $("#result").html("normal");
                $(".ui.modal").modal("hide");
                break;
                case 'hard':
                $("#result").html("hard");
                $(".ui.modal").modal("hide");
                break;
                }
                }); 
      .ui.grid
        .four.wide.column
          h1#title Video Chat
          style.
            .videoContainer {
            position: relative;
            width: 200px;
            height: 150px;
            }
            .videoContainer video {
            position: absolute;
            width: 100%;
            height: 100%;
            }
            .volume_bar {
            position: absolute;
            width: 5px;
            height: 0px;
            right: 0px;
            bottom: 0px;
            background-color: #12acef;
            }
          p#subTitle
          form#createRoom
          .videoContainer
            video#localVideo(style='height: 150px;', oncontextmenu='return false;')
            #localVolume.volume_bar
          #remotes
        .twelve.wide.column.right &lt;&lt;&lt;&lt; terminal here&gt;&gt;&gt;&lt;&lt;&lt;&lt; terminal here&gt;&gt;&gt;&lt;&lt;&lt;&lt; terminal here&gt;&gt;&gt;&lt;&lt;&lt;&lt; terminal here&gt;&gt;&gt;&lt;&lt;&lt;&lt; terminal here&gt;&gt;&gt;&lt;&lt;&lt;&lt; terminal here&gt;&gt;&gt;
    include layout/footer.pug
      script(src='/javascripts/jquery.min.js')
      script(src='/javascripts/main.js')
      script(src='/SimpleWebRTC-master/simplewebrtc.bundle.js')
      script(src='/javascripts/webrtc.js')