doctype html
html
  head
    include layout/header.pug
    script(type='text/javascript').
      webgazer.setGazeListener(function (data, elapsedTime) {
        if (data == null) {
          return;
        }
        var xprediction = data.x; //these x coordinates are relative to the viewport
        var yprediction = data.y; //these y coordinates are relative to the viewport
        console.log(elapsedTime); //elapsed time is based on time since begin was called
      }).begin();
      var prediction = webgazer.getCurrentPrediction();
      if (prediction) {
        var x = prediction.x;
        var y = prediction.y;
      }
    style(type='text/css').
      body {
      background-color: #FFFFFF;
      }
      .ui.menu .item img.logo {
      margin-right: 1.5em;
      }
      .main.container {
      margin-top: 7em;
      }
      .wireframe {
      margin-top: 2em;
      }
      .ui.footer.segment {
      margin: 5em 0em 0em;
      padding: 5em 0em;
      }
    style#extension_grayscale(type='text/css').
      html *,
      * {
      filter: initial !important;
      }
  body
    include layout/menu.pug
    .ui.container.segment
      .ui.grid
        .four.wide.column
          h1.ui.header= project.title
          p= project.description
        .eight.wide.column
          center
            | Time
            h3
              #time
        .four.wide.column.right
          button.ui.labeled.icon.button
            i.save.icon
            |  Save
          |  
          button.ui.positive.labeled.icon.button
            i.terminal.icon
            |  Run
      .ui.divider
      br
      .ui.grid
        .four.wide.column
          .ui.top.attached.tabular.menu
            a.active.item Project
            |  
            a.item Team Information
            .right.menu
              .item
          .ui.bottom.attached.segment
            p
              .ui.list
                .item
                  i.folder.icon
                  .content
                    .header src
                    .description Source files for project
                    .list
                      .item
                        i.file.icon
                        .content
                          .header main.py
                          .description Main python file
                .item
                  i.folder.icon
                  .content
                    .header test
                    .description Unit testing files
                    .list
                      .item
                        i.folder.icon
                        .content
                          .header test_main.py
                          .description Unit testing for test_main
                .item
                  i.file.icon
                  .content
                    .header project_information.json
                    .description Project information
          h1#title Video Chat
          style.
            .videoContainer {
            position: relative;
            width: 200px;
            height: 150px;
            }
            .videoContainer video {
            position: absolute;
            width: 100%;
            height: 100%;
            }
            .volume_bar {
            position: absolute;
            width: 5px;
            height: 0px;
            right: 0px;
            bottom: 0px;
            background-color: #12acef;
            }
          p#subTitle
          form#createRoom
          .videoContainer
            video#localVideo(style='height: 150px;', oncontextmenu='return false;')
            #localVolume.volume_bar
          #remotes
        .ui.form
          .field
            textarea(style='width:100px; height: 100px;', rows='5')
    include layout/footer.pug
      script(src='/javascripts/jquery.min.js')
      script(src='/javascripts/main.js')
      script(src='/SimpleWebRTC-master/simplewebrtc.bundle.js')
      script(src='/javascripts/webrtc.js')