extends layout/layout.pug

block header
    meta(charset='utf-8')
    style(type='text/css').
      body {
      background-color: #FFFFFF;
      }
      .ui.menu .item img.logo {
      margin-right: 1.5em;
      }
      .main.container {
      margin-top: 7em;
      }
      .wireframe {
      margin-top: 2em;
      }
      .ui.footer.segment {
      margin: 5em 0em 0em;
      padding: 5em 0em;
      }
    style#extension_grayscale(type='text/css').
      html *, * { filter: initial !important; }
block content
    .ui.raised.very.padded.text.container.segment
      h1.ui.header Register Now
      if flashes['error']
        .ui.red.message= flashes['error']
      +registerForm()
    script(src='javascripts/jquery.min.js')
    script(src='semantic/dist/semantic.min.js')