doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0')
    title Code Buddy - Register
    link(rel='stylesheet', type='text/css', href='semantic/dist/semantic.min.css')
    style(type='text/css').
      body {
      background-color: #FFFFFF;
      }
      .ui.menu .item img.logo {
      margin-right: 1.5em;
      }
      .main.container {
      margin-top: 7em;
      }
      .wireframe {
      margin-top: 2em;
      }
      .ui.footer.segment {
      margin: 5em 0em 0em;
      padding: 5em 0em;
      }
    style#extension_grayscale(type='text/css').
      html *, * { filter: initial !important; }
  html
  body
    .ui.attached.stackable.menu
      .ui.container
        img.logo.large(src='images/logo-codebuddy-s.png')
        a.item(href='/')
          i.home.icon
          |  Home
        a.item(href='/howitworked')
          i.info.icon
          |  How it worked ?
        a.item(href='/aboutus')
          i.users.icon
          |  About us
        a.right.item(href='/signin')
          i.sign.in.icon
          |  Sign in
    .ui.raised.very.padded.text.container.segment
      h1.ui.header Register Now
      if (message.length !== 0)
        .ui.red.message= message
      p Fill in the form below to get access
      form.ui.form(action='/register', method='POST')
        h4.ui.dividing.header Access information
        .field
          label Username
          |  
          input(type='text', name='username', placeholder='codebuddy.com/profile/`username`')
        .field
          label Password
          |  
          input(type='password', name='password')
        .field
          label E-mail
          |  
          input(type='email', name='email', placeholder='your-mail@email.com')
        h4.ui.dividing.header Personal information
        .field
          label First Name
          |  
          input(type='text', name='firstname', placeholder='First Name')
        .field
          label Last Name
          |  
          input(type='text', name='lastname', placeholder='Last Name')
        .field
          label Occupation
          |  
          input(type='text', name='occupation', placeholder='occupation')
        .field
          label Gender
          .field
            .ui.radio.checkbox
              input(type='radio', name='gender', value='male')
              |  
              label Male
          .field
            .ui.radio.checkbox
              input(type='radio', name='gender', value='female')
              |  
              label Female
        .field
          .ui.checkbox
            input(type='checkbox', name="agree", tabindex='0')
            |  
            label I agree to the Terms and Conditions
        |  
        button.ui.button(type='submit') Register
    script(src='javascripts/jquery.min.js')
    script(src='semantic/dist/semantic.min.js')