doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0')
    title Code Buddy - Register
    link(rel='stylesheet', type='text/css', href='semantic/dist/semantic.min.css')
    script(src='javascripts/jquery.min.js')
    script(src='semantic/dist/semantic.min.js')
    style(type='text/css').
      body {
      background-color: #FFFFFF;
      }
      .ui.menu .item img.logo {
      margin-right: 1.5em;
      }
      .main.container {
      margin-top: 7em;
      }
      .wireframe {
      margin-top: 2em;
      }
      .ui.footer.segment {
      margin: 5em 0em 0em;
      padding: 5em 0em;
      }
    style#extension_grayscale(type='text/css').
      html *, * { filter: initial !important; }
  body
    .ui.large.top.fixed.hidden.menu
      .ui.container
        a.active.item(href='/') Home
        a.item How it Worked ?
        a.item About Us
        .right.menu
          .item
            a.ui.button(href='/signin') Sign In
          .item
            a.ui.primary.button(href='/register') Register
    .ui.main.text.container
      h1.ui.header Register Now
      p Fill in the form below to get access
      form.ui.form(method='POST')
        h4.ui.dividing.header Access information
        .field
          label Username
          |  
          input(type='text', name='username', placeholder='joe')
        .field
          label Password
          |  
          input(type='password', name='password')
        .field
          label E-mail
          |  
          input(type='email', name='email', placeholder='joe@schmoe.com')
        h4.ui.dividing.header Personal information
        .field
          label First Name
          |  
          input(type='text', name='firstname', placeholder='First Name')
        .field
          label Last Name
          |  
          input(type='text', name='lastname', placeholder='Last Name')
        .field
          label Occupation
          |  
          input(type='text', name='occupation', placeholder='occupation')
        .field
          label Gender
          .ui.selection.dropdown
            input(type='hidden', name='gender')
            i.dropdown.icon
            .default.text Gender
            .menu
              .item(data-value='male') Male
              .item(data-value='female') Female
        .field
          .ui.checkbox
            input.hidden(type='checkbox', tabindex='0', name='agreement')
            |  
            label 
              | I agree to the 
              a(href="#toc") Terms and Conditions
        |  
        button.ui.button(type='submit') Register
    .ui.inverted.vertical.footer.segment
      .ui.center.aligned.container
        .ui.stackable.inverted.divided.grid
          .three.wide.column
            h4.ui.inverted.header Group 1
            .ui.inverted.link.list
              a.item(href='#') Link One
              |  
              a.item(href='#') Link Two
              |  
              a.item(href='#') Link Three
              |  
              a.item(href='#') Link Four
          .three.wide.column
            h4.ui.inverted.header Group 2
            .ui.inverted.link.list
              a.item(href='#') Link One
              |  
              a.item(href='#') Link Two
              |  
              a.item(href='#') Link Three
              |  
              a.item(href='#') Link Four
          .three.wide.column
            h4.ui.inverted.header Group 3
            .ui.inverted.link.list
              a.item(href='#') Link One
              |  
              a.item(href='#') Link Two
              |  
              a.item(href='#') Link Three
              |  
              a.item(href='#') Link Four
          .seven.wide.column
            h4.ui.inverted.header Footer Header
            p
              | Extra space for a call to action inside the footer that could help re-engage users.
        .ui.inverted.section.divider
        |  
        img.ui.centered.mini.image(src='images/logo.png')
        .ui.horizontal.inverted.small.divided.link.list
          a.item(href='#') Site Map
          |  
          a.item(href='#') Contact Us
          |  
          a.item(href='#') Terms and Conditions
          |  
          a.item(href='#') Privacy Policy
