include mixins/_form
doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0')
    title Code Buddy - Sign In
    style(type='text/css').
      body {
        background-color: #d0d0d0
      }
      body > .grid {
      height: 100%;
      }
      .image {
      margin-top: -100px;
      }
      .column {
      max-width: 450px;
      }
    script.
      $(document)
        .ready(function () {
          $('.ui.form')
            .form({
              fields: {
                email: {
                  identifier: 'email',
                  rules: [{
                      type: 'empty',
                      prompt: 'Please enter your e-mail'
                    },
                    {
                      type: 'email',
                      prompt: 'Please enter a valid e-mail'
                    }
                  ]
                },
                password: {
                  identifier: 'password',
                  rules: [{
                      type: 'empty',
                      prompt: 'Please enter your password'
                    },
                    {
                      type: 'length[6]',
                      prompt: 'Your password must be at least 6 characters'
                    }
                  ]
                }
              }
            });
        });
    style#extension_grayscale(type='text/css').
      html *, * { filter: initial !important; }
  body
    .ui.middle.aligned.center.aligned.grid
      .column
        h2.ui.teal.image.header
          //img.image(src='/images/logo.png')
          .content Sign In Account
        +signinForm()
          .ui.error.message
        .ui.message
          | New to us? 
          a(href='/register') Register
    link(rel='stylesheet', type='text/css', href='semantic/dist/semantic.min.css')
    script(src='javascripts/jquery.min.js')
    script(src='semantic/dist/components/form.js')
    script(src='semantic/dist/components/transition.js')