footer#footer
      .ui.inverted.vertical.footer.segment.form-page
        .ui.center.aligned.container
          img.ui.centered.small.image(src='../images/logo-white-s.png')
          .ui.horizontal.inverted.small.divided.link.list
            a.item(href='#') Developed by Kittikorn P.,  Khemtat L.& Teerapong L. IT KMITL