footer#footer
      .ui.inverted.vertical.footer.segment
        .ui.center.aligned.container
          img.ui.centered.small.image(src='images/logo-white-s.png')
          .ui.horizontal.inverted.small.divided.link.list
            a.item(href='#') How it worked?
            |  
            a.item(href='#') Contact Us
            |  
            a.item(href='#') About Us