include ../mixins/_displayFlashes
html
  head
    include header
    block header
    style(type='text/css').
        .row{
          max-width:900px;
        }
    block script
  body
    include menu
    block content
    include footer  
    block footerExtend