html
  head
    block header
      include header
    block script
      style(type='text/css').
        .row{
          max-width:900px;
        }
  body
    include menu
    block content
    include footer  
    block footerExtend